.popup {
  display: flex;
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.5);
  font-family: "Inter", sans-serif;
  visibility: hidden;
  opacity: 0;
  transition: visibility .5s, opacity .5s ease-out;
}
